@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using MyUmbracoProject.Controllers


@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"].ToString()
    </div>
}

@using (Html.BeginUmbracoForm<ReservationController>("Submit"))
{
    <div class="row" onload="document.form1.text1.focus()">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control" placeholder="Your Name" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="Email" id="email" class="form-control" placeholder="Your Email" required>
                <h2 id="result"></h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Phone</label>
                <input type="text" name="Phone" class="form-control" placeholder="Phone" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Phone</label>
                <input type="text" name="date" class="form-control" id="book_date" placeholder="Date" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Time</label>
                <input type="text" name="Time" class="form-control" id="book_time" placeholder="Time" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Person</label>
                <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="Person" id="" class="form-control" required>
                        <option value="">Person</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="form-group">
                <input type="submit" value="Make a Reservation" onclick="ValidateEmail(document.form1.text1)" class="btn btn-primary py-3 px-5">
            </div>
        </div>
    </div>
}
